.featured-properties {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.featured-properties h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

/* Container to center the grid */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.properties-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 items in a row */
    gap: 30px;
    justify-content: center;
}

.property-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.3s ease;
    width: 100%;
    height: auto;
}

.property-card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.property-image {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 300px;
}

.property-overlay {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    opacity: 0;
    padding: 20px;
    text-align: center;
    transition: opacity 0.3s ease;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.property-overlay h3 {
    text-transform: uppercase;
}

.property-card:hover .property-overlay {
    opacity: 1;
}

.property-details {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 0.9rem;
    color: #444;
    gap: 30px;
}

.property-details span {
    display: flex;
    align-items: center;
}

.property-details svg {
    margin-right: 5px;
}

/* Price badge in the top-right corner */
.price-badge {
    background-color: #ffcc00;
    color: #333;
    padding: 5px 10px;
    font-size: 1rem;
    text-align: left;
    line-height: 1.2rem;
    height: 50px;
    min-width: 100px;
    width: auto;
    border-radius: 0;
}

.price-badge--price {
    font-weight: bold;
    font-size: 20pt;
}

.price-badge--per {
    font-weight: lighter;
    padding-top: 3px;
}

.price-badge span {
    display: block;
}

.price-badge .price {
    font-weight: bold;
    font-size: 1.2rem;
}