.hero-banner {
    position: relative;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 80px 20px;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;
}

.carousel-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.carousel-content h1 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.carousel-content p {
    margin-top: 10px;
    font-size: 1.5rem;
}

.learn-more-btn {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.learn-more-btn:hover {
    background-color: #fff;
    color: #333;
}

.carousel-navigation {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.prev-arrow,
.next-arrow {
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    padding: 50px;
}

.prev-arrow:hover,
.next-arrow:hover {
    color: #ffcc00;
}