#footer {
    background-color: #f4f5f6;
    color: #333;
}

.footer-top {
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-logo-section,
.footer-links-section,
.footer-regions-section {
    flex: 1;
    padding: 0 20px;
}

.footer-logo {
    max-width: 200px;
    max-height: 100px;
}

.footer-links,
.footer-regions {
    list-style: none;
    padding: 0;
}

.footer-links a,
.footer-regions a {
    color: #333;
    text-decoration: none;
}

.footer-links a:hover,
.footer-regions a:hover {
    color: #777;
}

.footer-regions li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.footer-regions .image {
    margin-right: 10px;
}

.footer-regions img {
    width: 60px;
    height: 60px;
}

#footer-bottom {
    background-color: #e1e1e1;
    padding: 15px 0;
}

.footer-bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    text-align: left;
    flex: 1;
    color: #333;
}

.footer-right {
    text-align: right;
    flex: 1;
}

.social-networks {
    list-style: none;
    padding-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.social-networks li {
    margin-left: 10px;
}

.social-networks a {
    color: #333;
    font-size: 16px;
    text-decoration: none;
}

.social-networks a:hover {
    color: #777;
}